if [ -d "venv" ]; then
	echo "using existing python venv"
	source venv/bin/activate
else
	echo "creating new python venv"
	python3 -m venv venv
	source venv/bin/activate
	python -m pip install -U pip
	if [ -f "requirements.txt" ]; then
		python -m pip install -r requirements.txt
	fi
fi
unset PS1
# vim: set ft=sh ts=4 sw=4 noet ai :
