repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.4.0
      hooks:
          - id: trailing-whitespace
          - id: check-merge-conflict
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: check-docstring-first
          - id: check-json
          - id: check-yaml
          - id: check-toml
          - id: check-xml
          - id: debug-statements
          - id: requirements-txt-fixer
          - id: check-added-large-files
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.9
      hooks:
          - id: flake8
            args: ["--max-line-length=99", "--ignore=E221,E241"]
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v1.4.4
      hooks:
          - id: autopep8
    - repo: https://github.com/pre-commit/pre-commit
      rev: v1.21.0
      hooks:
          - id: validate_manifest
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v1.9.0
      hooks:
          - id: reorder-python-imports
            language_version: python3
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v1.5.0
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/prettier/prettier
      rev: 1.19.1
      hooks:
          - id: prettier
